{{!< default}}

<main class="gh-main">
    {{> "components/header" layout="wide" background="image" primary=@custom.primary_header secondary=@custom.secondary_header}}
    {{!-- {{> "podcast-services"}} --}}
    <section class="gh-more gh-outer">
        <h3 id="home-title" style="text-align: center; margin-top: 100px;
    "> "Accompagner individuellement et collectivement des leaders conscients, sensibles et courageux à créer, à partir de leurs envies profondes, une diversité de futur.s. au service du vivant."</h3>
        <p style="font-style: italic; text-align: center; padding-top:30px">Victoria Valroff</p>
        <div class="kg-card kg-button-card kg-align-center">
            <a href="/coaching-individuel/" class="kg-btn kg-btn-accent">Coaching Individuel</a>
            <a href="/coaching-leaders/" class="kg-btn kg-btn-accent">Coaching de Leaders</a></a>
            <a href="/organisations/" class="kg-btn kg-btn-accent">Accompagnement d'Organisations</a>
       </div>

       {{!-- <img src="./assets/images/Page d'accueil photo.jpg" alt="Victoria's Photo"> --}}
    </section>
    {{!-- <section id="home-section" class="gh-archive gh-outer">
        <div class="gh-archive-inner gh-inner">
            <header class="gh-archive-header">
                <h1 class="gh-archive-title"></h1>
                
                
            </header>
        </div> 
    </section> --}}
    {{!-- {{> "components/list" layout="simple" count="3" showExcerpt=true showPublishedAt=true}} --}}
    {{!-- {{#match pagination.pages ">" 1}}
        <div class="gh-more gh-outer">
            <div class="gh-inner">
                <a href="/page/2">All episodes →</a>
            </div>
        </div>
    {{/match}} --}}

    {{> "components/cta" title=@custom.email_signup_text}}
</main>