<div class="gh-podcast-service-list gh-outer">
        <a href="{{@custom.linkedin_link}}" target="_blank" rel="noopener noreferrer">
            {{> "icons/linkedin"}}
        </a>
        <a href="{{@custom.instagram_link}}" target="_blank" rel="noopener noreferrer">
            {{> "icons/instagram"}}
            
        </a>
        <a href="{{@custom.email_link}}" target="_blank" rel="noopener noreferrer">
            {{> "icons/email"}}
        </a>
</div>