<div class="gh-podcast-service-list gh-outer">
        <a href="https://www.linkedin.com/in/victoria-valroff/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
            {{> "icons/linkedin"}}
        </a>
        <a href="https://www.instagram.com/victoriavalroff/" target="_blank" rel="noopener noreferrer">
            {{> "icons/instagram"}}
        </a>
        <a href="mailto:victoria.valroff@gmail.com" target="_blank" rel="noopener noreferrer">
            {{> "icons/email"}}
        </a>
</div>